<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<button class="category-danger-button" _="on click trigger closeModal">
			<img alt="Close" src="icons/close.svg" class="close-icon" />
		</button>
		<div class="add-category-header">ADD CATEGORY</div><br><br>
		<form class="add-category-form" hx-post="/category_add" hx-target="#modal-errors" hx-swap="innerHTML">
			{{ form.csrf_token }}
			<label class="category-name-label" for="category_name">Category Name:</label><br>
			<input class="category-name-input" type="text" id="category_name" name="category_name" required>

			<input class="category-color-input" type="color" id="category_color" name="category_color" required>
			<div class="icon-container">
			{% for icon in icons %}
				<button type="button" class="icon-button" data-icon="{{ icon }}">
					<img src="{{ icon }}" class="icon">
				</button>
			{% endfor %}
			</div>
			<input type="hidden" id="selected_icon" name="selected_icon">

			<button class="category-submit-button" type="submit">Submit</button>
		</form>
		<div id="modal-errors"></div>

					<script>document.querySelectorAll(".icon-button").forEach(button => {
						button.addEventListener("click", function() {
        				let selectedIcon = this.getAttribute("data-icon");
        				document.getElementById("selected_icon").value = selectedIcon;


        			document.querySelectorAll(".icon-button").forEach(btn => btn.classList.remove("selected"));
        				this.classList.add("selected");
    				});
				});
			</script>
	</div>
</div>