<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<button class="category-danger-button" _="on click trigger closeModal">
			<img alt="Close" src="icons/close.svg" class="close-icon" />
		</button>
		<div class="add-category-header">ADD CATEGORY</div><br><br>
		<form class="add-category-form" hx-post="/category_add" hx-target="#modal-errors" hx-swap="innerHTML">
			{{ form.csrf_token }}

			<div>
				<label class="category-name-label" for="category_name">Category Name:</label>
				<input class="category-name-input" type="text" id="category_name" name="category_name" required>
			</div>
			

			<div>
				<label class="category-color-label" for="category_color">Color:</label>
				<input class="category-color-input" type="color" id="category_color" name="category_color" required>
			</div>
			
			<div class="icon-container">
			{% for icon in icons %}
				<label class="image-radio">
					<input type="radio" name="selected_icon" value="{{ icon }}">
					<img src="{{ icon }}" alt="Icon">
				</label>
			{% endfor %}
			</div>
			<button class="info-button" style="position: absolute; top: 20px; right: 20px;" data-message="This is a helpful message">help</button>
			<button class="category-submit-button" type="submit">Submit</button>
		</form>
		<div id="modal-errors"></div>
	</div>
</div>