<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<button class="category-danger-button" _="on click trigger closeModal">
			<img alt="Close" src="icons/close.svg" class="close-icon" />
		</button>
		<div class="add-category-header">EDIT CATEGORY</div><br><br>
		<form class="add-category-form" hx-post="/category_update/{{ category.id }}" hx-target="#modal-errors" hx-swap="innerHTML">
			{{ form.csrf_token }}

            <input type="hidden" name="_method" value="PATCH">
			
			<div>
				<label class="category-name-label" for="category_name">Category Name:</label>
				<input class="category-name-input" type="text" id="category_name" name="category_name" value="{{ category.name }}" required><br>
			</div>

			<div>
				<label class="category-color-label" for="category_color">Color:</label>
				<input class="category-color-input" type="color" id="category_color" name="category_color" value="{{ category.color }}" required><br>
			</div>
			
			<button class="edit-category-submit-button" type="submit">Update Category</button><br>

            <button class="edit-category-submit-button" hx-delete="/category_delete/{{ category.id }}" hx-target="body" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete {{ category.name }}?">Delete</button>
		</form>
		<div id="modal-errors"></div>
		<br>
		<br>
	</div>
</div>