<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<button class="product-danger-button" _="on click trigger closeModal">
			<img alt="Close" src="icons/close.svg" class="close-icon" />
		</button>
		<form hx-post="/product_update_all/{{ product.get_id() }}" hx-target="#modal-errors" hx-swap="innerHTML">
            {{ form.csrf_token }}
            <input type="hidden" name="_method" value="PATCH">

			<label for="product_name">Product Name</label>
            <input type="text" id="product_name" name="product_name" value="{{ product.product_name }}" required>

            <label for="ideal_stock">Ideal Stock</label>
            <input type="number" id="ideal_stock" name="ideal_stock" value="{{ product.ideal_stock }}" required>

            {%include "modals/stock_unit_add_update.html" %}
		<br>
		<br>
		<button class="category-submit-button" type="submit">Update Product</button>
	</form>
	<div id="modal-errors"></div>
	</div>
</div>