<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content add-modal-content">
        <button class="btn-danger" _="on click trigger closeModal">
            <img alt="Close" src="icons/close.svg" class="close-icon" />
        </button>
        <p class="add-label">NEW PRODUCT</p>
        <form hx-post="/product_add" hx-target="#modal-errors" hx-swap="innerHTML">
            <div class="modal-form-content"> 
                {{ form.csrf_token }}

            <div>
                <label id="add-product-name-label" for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name" required>
            </div>

                <div>
                    <label id="add-ideal-stock-label" for="ideal_stock">Ideal Stock:</label>
                    <input type="number" id="ideal_stock" name="ideal_stock" required>
                </div>

                <div>
                    <label class="add-category-id-label" for="category_id">Category:</label>
                    <select class="add-category-id" id="category_id" name="category_id">
                        <option value="">Select a category</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div style="display: flex; flex-direction: row">
                    <label id="add-donation-label" for="donation">Donation: </label>
                    <input type="checkbox" id="donation" name="donation">
                </div>
            </div>

            {%include "modals/stock_unit_add_update.html" %}

            <div class="modal-buttons">
                <button id="add-product-label" type="submit">Submit</button>
            </div>
        </form>
        <div id="modal-errors"></div>


    </div>
</div>