<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<button class="product-danger-button" _="on click trigger closeModal">
			<img alt="Close" src="icons/close.svg" class="close-icon" />
		</button>
		<p class="add-label">ADD INVENTORY</p>
		<form hx-post="product_add_inventory/{{ product.get_id() }}" hx-target="#modal-errors" hx-swap="innerHTML">
			{{ form.csrf_token }}
			<input type="hidden" name="_method" value="PATCH">

			{% include "modals/stock_unit_add_update.html" %}
            <br>
            <div style="display: flex; flex-direction: row; align-content: center; margin-top: 2%">
                <label for="donation">Donation:</label>
                <input type="checkbox" id="donation" name="donation">
            </div>
			<br>
			<br>
			<button class="product-button" type="submit">Add</button>
			<button class="info-button" style="position: absolute; top: 20px; right: 20px;" 
				data-message="For adding to the current inventory, like when product is received">help</button>
		</form>
		<div id="modal-errors"></div>
	</div>
</div>