<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<form hx-post="product_add_inventory/{{ product.get_id() }}" hx-target="#modal-errors" hx-swap="innerHTML">
			{{ form.csrf_token }}
			<input type="hidden" name="_method" value="PATCH">

			<label for="stock">Add Items:</label>
			<input type="number" id="stock" name="stock" min="0" required>
            
			<label for="donation">Donation?:</label>
            <input type="checkbox" id="donation" name="donation">
			<br>
			<br>
			<button class="product-button" type="submit">Update</button>
			<button class="close-button" _="on click trigger closeModal">Close</button>
		</form>
		<div id="modal-errors"></div>
	</div>
</div>