<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<button class="product-button" hx-get="/product_update_inventory/{{ product.id }}" hx-target="body" hx-swap="beforeend">
            ADJUST AMOUNT
        </button>
        <button class="product-button" hx-get="/product_add_inventory/{{ product.id }}" hx-target="body" hx-swap="beforeend">
            ADD ITEMS
        </button>
		<br>
		<br>
		<button class="close-button" _="on click trigger closeModal">Close</button>
	</div>
</div>