{% if is_admin %}
{% if is_admin %}
<script>
    function addNewStockUnit(ev, btn) {
        ev.preventDefault();
        const btnRow = btn?.parentElement?.parentElement;
        const prevRow = btnRow?.previousElementSibling;
        if (prevRow == null) {
            return;
        }
        const newRow = prevRow.cloneNode(true);
        const newId = parseInt(prevRow.getAttribute('data-index')) + 1;
        newRow.setAttribute('data-index', newId);

        const nameInput = newRow.querySelector('input[data-field="name"]');
        nameInput.setAttribute('name', `stock_name_${newId}`);
        nameInput.removeAttribute('value');
        nameInput.value = '';

        const multiplierInput = newRow.querySelector('input[data-field="multiplier"]');
        multiplierInput.setAttribute('name', `stock_multiplier_${newId}`);
        multiplierInput.removeAttribute('value');
        multiplierInput.value = '';

        const priceInput = newRow.querySelector('input[data-field="price"]');
        priceInput.setAttribute('name', `stock_price_${newId}`);
        priceInput.removeAttribute('value');
        priceInput.value = '';

        const countInput = newRow.querySelector('input[data-field="count"]');
        countInput.setAttribute('name', `stock_count_${newId}`);
        countInput.setAttribute('value', '0');
        countInput.value = '0';

        newRow.querySelector('input[data-field="id"]')?.remove();

        btnRow.parentElement.insertBefore(newRow, btnRow);
    }
</script>
{% endif %}
{% endif %}

<style>
    .stock-unit-update-table input {
        width: 100px;
    }
</style>

<table style="grid-column: 1 / -1;" class="stock-unit-update-table"><tbody>
    <tr>
        <th class="modal-label">Unit Name</th>
        {% if is_admin %}
            <th class="modal-label">Items Per Unit</th>
            <th class="modal-label">Price Per Unit</th>
        {% endif %}
        {% if not stock_unit_count_hidden %}
            <th class="modal-label">Number of Units in Stock</th>
        {% endif %}
    </tr>
    {% for stock_unit in stock_unit_list %}
        <tr data-index="{{ loop.index }}">
            <td>
                {% if is_admin %}
                    <input type="text" data-field="name" name="stock_name_{{ loop.index }}" value="{{ stock_unit.name }}"/>
                {% else %}
                    <span>{{ stock_unit.name }}:</span>
                    <input type="hidden" data-field="name" name="stock_name_{{ loop.index }}" value="{{ stock_unit.name }}"/>
                    <input type="hidden" data-field="multiplier" name="stock_multiplier_{{ loop.index }}" value="{{ stock_unit.multiplier }}"/>
                    <input type="hidden" data-field="price" name="stock_price_{{ loop.index }}" value="{{ '' if stock_unit.price is none else stock_unit.price }}"/>
                {% endif %}
                {% if stock_unit.id is not none %}
                    <input type="hidden" data-field="id" name="stock_id_{{ loop.index }}" value="{{ stock_unit.id }}"/>
                {% endif %}
            </td>

            {% if is_admin %}
                <td><input type="number" data-field="multiplier" name="stock_multiplier_{{ loop.index }}" value="{{ stock_unit.multiplier }}"/></td>
                <td><input type="text" data-field="price" name="stock_price_{{ loop.index }}" value="{{ '' if stock_unit.price is none else stock_unit.price }}"/></td>
            {% endif %}
            
            {% if stock_unit_count_hidden %}
                <td style="display: none;">
            {% else %}
                <td>
            {% endif %}
                {% if stock_unit_count_list %}
                    <input type="number" data-field="count" min="0" name="stock_count_{{ loop.index }}" value="{{ stock_unit_count_list[loop.index0] }}"/>
                {% else %}
                    <input type="number" data-field="count" min="0" name="stock_count_{{ loop.index }}" value="0"/>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if is_admin %}
        <tr>
            <td colspan="{{ 1 + (2 if is_admin else 0) + (1 if not stock_unit_count_hidden else 0) }}">
                <div class="modal-buttons">
                    <button id="new_unit" onclick="addNewStockUnit(event, this)">Add New Stock Unit</button>
                </div>
            </td>
        </tr>
    {% endif %}
</tbody></table>