<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<button class="product-danger-button" _="on click trigger closeModal">
			<img alt="Close" src="/icons/close.svg" class="close-icon" />
		</button>
		<p class="add-label">UPDATE PASSWORD FOR: {{ username }}</p>
		<form hx-post="update_password/{{ username }}" hx-target="#modal-errors" hx-swap="innerHTML">
			<label for="password">New Password</label>
            <input type="password" id="new-password" name="new-password" required>
            <br>
            <br>
            <label for="confirmation">Confirm New Password</label>
            <input type="password" id="confirmation" name="confirmation" required>
			<br>
			<br>
			<button class="product-button" type="submit">Update</button>
		</form>
		<div id="modal-errors"></div>
	</div>
</div>