<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HTMX CDN -->
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRDC Inventory Management System</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/product.css">
    <link rel="stylesheet" href="styles/reports.css">
    <link rel="stylesheet" href="styles/category.css">
    <script>
        htmx.on("htmx:beforeSwap", e => {
            // Allow 422 and 400 responses to swap
            // We treat these as form validation errors
            if (e.detail.xhr.status === 422 || e.detail.xhr.status === 400) {
                e.detail.shouldSwap = true;
                e.detail.isError = false;
            } else if (e.detail.xhr.status == 401) {
                alert('You are not authorized to access this resource');
            }
        });
        htmx.on("htmx:afterSwap", loadInfoButtons);
        window.addEventListener('load', loadInfoButtons);

        function loadInfoButtons() {
            for (const btn of document.querySelectorAll('button.info-button[data-message]:not([data-loaded])')) {
                btn.innerHTML = '<img src="icons/info.svg" alt="Information Icon"/>';
                btn.setAttribute('data-loaded', 'true');
                btn.onmouseenter = showInfoBlurb;
            }
        }

        function showInfoBlurb(ev) {
            const btn = ev.target;
            let direction = btn.getAttribute("data-direction");
            const rect = btn.getBoundingClientRect();
            const width = window.innerWidth;
            const height = window.innerHeight;
            if (direction == null) {
                const centerX = rect.x + rect.width / 2;
                const centerY = rect.y + rect.height / 2;
                if (centerX > width * 0.75) {
                    direction = 'left';
                } else if (centerX < width * 0.25) {
                    direction = 'right';
                } else if (centerY < height * 0.2) {
                    direction = 'bottom';
                } else {
                    direction = 'top';
                }
            }

            let sharedBlurb = document.getElementById('info-blurb');
            if (!sharedBlurb) {
                sharedBlurb = document.createElement('div');
                const inner = document.createElement('div');
                inner.classList.add('box-shadow-small');
                sharedBlurb.appendChild(inner);
                sharedBlurb.id = 'info-blurb';
                sharedBlurb.onmouseleave = () => {
                    sharedBlurb.style.display = 'none';
                }
                document.body.appendChild(sharedBlurb);
            }
            sharedBlurb.style.display = 'block';

            sharedBlurb.children[0].textContent = btn.getAttribute('data-message');
            sharedBlurb.className = direction;

            if (direction == 'left') {
                sharedBlurb.style.top = rect.top + 'px';
                sharedBlurb.style.right = (width - rect.right) + 'px';
            } else if (direction == 'right') {
                sharedBlurb.style.top = rect.top + 'px';
                sharedBlurb.style.left = rect.left + 'px';
            } else if (direction == 'bottom') {
                sharedBlurb.style.top = rect.top + 'px';
                sharedBlurb.style.left = (rect.left + rect.width / 2 - sharedBlurb.offsetWidth / 2) + 'px';
            } else if (direction == 'top') {
                sharedBlurb.style.bottom = (height - rect.bottom) + 'px';
                sharedBlurb.style.left = (rect.left + rect.width / 2 - sharedBlurb.offsetWidth / 2) + 'px';
            }
        }
    </script>
</head>

<body hx-ext="debug">

<div class="header">
    <img class="logo" src="icons/logo_white.png">
    {% if current_user and current_user.username == "admin" %}
        <a href="/settings" class="account">ADMIN SETTINGS</a>
    {% endif %}
</div>
{% block content %}
{% endblock %}

</body>

</html>