{% extends "base.html" %}
{% from "macros.html" import inventory_item_bar %}
{% block content %}

    {% include 'nav.html' %}
    <div class="back"><img alt="Go Back" src="icons/arrow_left.svg"><a href=".">BACK</a></div>

    <div class="content_container">
    <div class="top_container">
    <div class="column">
    
    <div class="row1"> 
        <div class="image-box">
            <label for="fileInput">
        {% if not filepath %}
            <img src="icons/image-camera.svg" class="upload-trigger" />
        {% else %}
            <img src="images/{{ filepath }}" />
        {% endif %}
            </label>
        </div>
    </div>

    <div class="row2"> 
        <div class="product_content">
            <h1 id="product_name">{{ product.product_name }}</h1>
            <h2 id="category_name"><img alt="Category Icon" src="icons/map.svg" class="category_icon"><p>{{ product.category.name }}</p></h2>
        </div>
    
        <div class="inventory_content">
            <h1 id="inventory_stock">{{ product.inventory }} /  {{ product.ideal_stock }}</h1>
            <span id="inventory_bar">{{ inventory_item_bar(product.inventory, product.ideal_stock) }}</span>
        </div>
    </div>
    
    <div class="row3">
        <div class="adjust_content">
            <button class="product-button" hx-get="/product_update_inventory_options/{{ product.id }}" hx-target="body" hx-swap="beforeend">
                ADJUST INVENTORY
            </button>
        
            <div class="dropdown">
                <button class="dropdown-btn">
                    <img src="icons/three_dot.svg" width="40" height="30">
                </button>
        
        
                <div class="dropdown-content">
                    <a href="#" hx-delete="/product_delete/{{ product.id }}" hx-target="body" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete {{  product.product_name }}?">Delete Item</a>
                    <a hx-get="/product_update_all/{{ product.id }}" hx-target="body" hx-swap="beforeend">Update Info</a>
                </div>
            </div>
        </div>

        <div class ="info_container">
            <table id = "info_table">
                <tr>
                    <td class="title-column">Price per Unit</td>
                    <td class="dash-column">
                        <hr class="line">
                    </td>
                    <td class="value-column">${{product.price }}</td>
                </tr>
                <tr>
                    <td class="title-column">Perferred Quantity</td>
                    <td class="dash-column">
                        <hr class="line">
                    </td>
                    <td class="value-column">{{product.ideal_stock }}</td>
                </tr>
                <tr>
                    <td class="title-column">Minimum Quantity</td>
                    <td class="dash-column">
                        <hr class="line">
                    </td>
                    <td class="value-column">min</td>
                </tr>
            </table>
        </div>
    </div>
    
    <form action="/product_upload_image/{{ product.get_id() }}" hx-post="/product_upload_image/{{ product.get_id() }}" method="POST" enctype="multipart/form-data" hx-on::after-request="alert(event.detail.xhr.responseText)" hx-target="#image-message-placeholder" hx-swap="innerHTML">
        <input type="file" id="fileInput" name="file" accept="image/*" required style="display: none;">
    </form>
    <div id="image-message-placeholder"></div>
        <script>
            document.getElementById('fileInput').addEventListener('change', function(ev) {
                ev.preventDefault();
                htmx.trigger(this.form, 'submit');
            });
        </script>
    </div>

    </div>
    </div>
    </div>
{% block update_stock %}
{% endblock %}
{% block update_all %}
{% endblock %}
</body>
{% endblock %}