{% extends "base.html" %}
{% from "macros.html" import inventory_item_bar, timeframe_form %}

{% block content %}
<link rel="stylesheet" href="styles/mobile_table.css" />
<link rel="stylesheet" href="styles/mobile_form.css"/>
<link rel="stylesheet" href="styles/product_page.css" />
<script>
    const HRDC_THEME_GREEN = '#4ead1f';
    const HRDC_THEME_TEAL = '#146f76';

    let lifetimeChart = null;
    let priceHistoryChart = null;
    let inventoryHistoryChart = null;

    function loadLifetimeChart() {
        requestAnimationFrame(() => {
            if (lifetimeChart != null) {
                lifetimeChart.destroy();
            }

            const canvas = document.getElementById('lifetime-breakdown-chart');
            if (canvas == null) { return; }
            canvas.width = canvas.offsetWidth * window.devicePixelRatio;
            canvas.height = canvas.offsetHeight * window.devicePixelRatio;
            const lifetimeDonated = parseFloat(canvas.getAttribute('data-lifetime-donated'));
            const lifetimePurchased = parseFloat(canvas.getAttribute('data-lifetime-purchased'));
            const ctx = canvas.getContext('2d');

            lifetimeChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Donated', 'Purchased'],
                    datasets: [{
                        data: [lifetimeDonated, lifetimePurchased],
                        backgroundColor: [HRDC_THEME_GREEN, HRDC_THEME_TEAL],
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Product Intake'
                        },
                        legend: {
                            onClick: null
                        }
                    }
                }
            });
            requestAnimationFrame(() => {
                window.dispatchEvent(new Event('resize'));
            });
        });
    }
    
    function loadPriceChart() {
        requestAnimationFrame(() => {
            if (priceHistoryChart != null) {
                priceHistoryChart.destroy();
            }

            const canvas = document.getElementById('price-history-chart');
            if (canvas == null) { return; }
            canvas.width = canvas.offsetWidth * window.devicePixelRatio;
            canvas.height = canvas.offsetHeight * window.devicePixelRatio;
            const dates = JSON.parse(canvas.getAttribute('data-dates'));
            const prices = JSON.parse(canvas.getAttribute('data-prices'));
            const data = dates.map((e,i) => ({x: e, y: prices[i]}));
            const ctx = canvas.getContext('2d');

            priceHistoryChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Average Price',
                        data,
                        borderColor: HRDC_THEME_GREEN,
                        tension: 0.3
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            onClick: null
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day',
                                tooltipFormat: 'MMM dd'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Price ($)'
                            }
                        }
                    }
                }
            });
            requestAnimationFrame(() => {
                window.dispatchEvent(new Event('resize'));
            });
        });
    }
    
    function loadInventoryChart() {
        requestAnimationFrame(() => {
            if (inventoryHistoryChart != null) {
                inventoryHistoryChart.destroy();
            }

            const canvas = document.getElementById('inventory-history-chart');
            if (canvas == null) { return; }
            canvas.width = canvas.offsetWidth * window.devicePixelRatio;
            canvas.height = canvas.offsetHeight * window.devicePixelRatio;
            const dates = JSON.parse(canvas.getAttribute('data-dates'));
            const counts = JSON.parse(canvas.getAttribute('data-counts'));
            const data = dates.map((e,i) => ({x: e, y: counts[i]}));
            const ctx = canvas.getContext('2d');

            inventoryHistoryChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Individual Inventory',
                        data,
                        borderColor: HRDC_THEME_TEAL,
                        tension: 0.3
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            onClick: null
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day',
                                tooltipFormat: 'MMM dd'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Individual Inventory'
                            }
                        }
                    }
                }
            });
            requestAnimationFrame(() => {
                window.dispatchEvent(new Event('resize'));
            });
        });
    }
    
    window.addEventListener('load', () => {
        loadLifetimeChart();
        loadPriceChart();
        loadInventoryChart();
    });
    document.body.addEventListener('htmx:afterSwap', e => {
        if (e.target.querySelector && e.target.querySelector(':scope > #lifetime-breakdown-chart')) {
            loadLifetimeChart();
        } else if (e.target.querySelector && e.target.querySelector(':scope > #price-history-chart')) {
            loadPriceChart();
        } else if (e.target.querySelector && e.target.querySelector(':scope > #inventory-history-chart')) {
            loadInventoryChart();
        }
    });
</script>



<div class="main-grid">
    <div class="left-nav">
        <a href="." class="back-link center-all">
            <img src="icons/arrow_left.svg" alt="Left Arrow"/>
            Back to Home
        </a>
        <form hx-get="/product_search_filter_mobile" hx-trigger="change, input from:input delay:300ms" hx-target="#product-list" hx-swap="innerHTML">   
            <div class="mobile-form-container">
                <img src="icons/search_icon.svg" alt="Search Icon"/>
                <input name="product_name" class="mobile-form-control" placeholder="Search"/>
            </div>

            <input type="hidden" value="link" name="table_mode"/>
            <input type="hidden" value="10" name="count_limit"/>
            
            <select name="product_category_id" class="mobile-select box-shadow-small">
                {% for category in category_list %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            
            <select name="product_sort_method" class="mobile-select box-shadow-small">
                <option value="least_recent">Least Recently Updated</option>
                <option value="most_recent">Most Recently Updated</option>
                <option value="lowest_stock">Lowest Stock Percentage</option>
                <option value="highest_stock">Highest Stock Percentage</option>
                <option value="alpha_a_z">Alphabetical (A-Z)</option>
                <option value="alpha_z_a">Alphabetical (Z-A)</option>
                <option value="best_match">Best Match</option>
            </select>
        </form>

        <div id="product-list">
            {% include "mobile_table.html" %}
        </div>
    </div>

    <div class="column box-shadow-small">

        <div class="image-box">
            <label for="fileInput">
                {% if not filepath %}
                    <img src="icons/image-camera.svg" class="upload-trigger" />
                {% else %}
                    <img src="{{ filepath }}" />
                {% endif %}
            </label>
        </div>

        <div class="top-right-grid">
            <div class="product-action-name">{{ product.product_name }}</div>
            <div class="product-action-row">
                <button class="product-action-inventory"
                    hx-get="/product_update_inventory/{{ product.id }}"
                    hx-target="body"
                    hx-swap="beforeend"
                >Set Inventory</button>
                {% if is_admin %}
                    <button class="product-action-inventory"
                        hx-get="/product_add_inventory/{{ product.id }}"
                        hx-target="body"
                        hx-swap="beforeend"
                    >Add Inventory</button>
                    <form action="/product_export_csv/{{ product.id }}" method="get">
                        <button class="product-action-inventory" type="submit">EXPORT CSV</button>
                    </form>
                    <div style="flex-shrink: 0; width: 30px;">
                        <button class="product-action-more">
                            <img src="icons/three_dot.svg">
                        </button>
                        <div class="dropdown-content">
                            <a hx-get="/product_update_all/{{ product.id }}" hx-target="body" hx-swap="beforeend">
                                Update Info
                            </a>
                            <a href="#" hx-delete="/product_delete/{{ product.id }}" hx-target="body"
                                hx-swap="outerHTML"
                                hx-confirm="Are you sure you want to delete {{  product.product_name }}?">
                                Delete Item
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div>
                <div class="category-row">
                    {% if not product.category.image_path %}
                        <img alt="Category Icon" src="icons/map.svg" class="category-icon">
                    {% else %}
                        <img alt="Category Icon" src="{{ product.category.image_path }}" class="category-icon">
                    {% endif %}
                    <p class="category-name">{{ product.category.name }}</p>
                </div>
                <div class="inventory-content">
                    <span id="inventory-stock">{{ product.inventory }} / {{ product.ideal_stock }}</span>
                    <span id="inventory-bar">{{ inventory_item_bar(product.inventory, product.ideal_stock) }}</span>
                </div>
            </div>
            <div>
                <div class="info-row">
                    <span>Avg Price Per Unit</span>
                    <div></div>
                    <span>${{ "%.2f" | format(product.price) }}</span>
                </div>
                <div class="info-row">
                    <span>Preferred Quantity</span>
                    <div></div>
                    <span>{{ product.ideal_stock }}</span>
                </div>
                <div class="info-row">
                    <span>Current Inventory Value</span>
                    <div></div>
                    <span>${{ "%.2f" | format(product.price * product.inventory) }}</span>
                </div>
            </div>
        </div>

        <form style="display: none;" action="/product_upload_image/{{ product.get_id() }}"
            hx-post="/product_upload_image/{{ product.get_id() }}" method="POST" enctype="multipart/form-data"
            hx-target="#image-message-placeholder"
            hx-swap="innerHTML">
            <input type="file" id="fileInput" name="file" accept="image/*" required style="display: none;">
        </form>
        <div id="image-message-placeholder"></div>
        <script>
            document.getElementById('fileInput').addEventListener('change', function (ev) {
                ev.preventDefault();
                htmx.trigger(this.form, 'submit');
            });
        </script>

    </div>

    <div class="box-shadow-small chart-parent" style="grid-column: 2;">
        <div>
            <h2 class="chart-title">Product Intake</h2>
            {{ timeframe_form('/product_lifetime/' ~ product.get_id(), '#lifetime-chart-cont') }}
        </div>
        <div style="height: 300px; width: 100%;" class="center-all" id="lifetime-chart-cont">
            {% include "charts/lifetime_split.html" %}
        </div>
    </div>
    <div class="box-shadow-small" style="grid-column: 3;">
        <table><tbody>
            <tr id="info-col">
                <th style="text-indent: 0px;">Unit Name</th>
                <th style="text-indent: 0px;">Individual/Unit</th>
                <th style="text-indent: 0px;">Price/Unit</th>
                <th style="text-indent: 0px;">Count in Units</th>
            </tr>
            {% for stock_unit, count in stock_units_with_counts %}
                <tr>
                    <td style="text-align: center;">{{ stock_unit.name }}</td>
                    <td style="text-align: center;">{{ stock_unit.multiplier }}</td>
                    <td style="text-align: center;">{{ stock_unit.price }}</td>
                    <td style="text-align: center;">{{ count }}</td>
                </tr>
            {% endfor %}
        </tbody></table>
    </div>

    <div class="box-shadow-small chart-parent" style="grid-column: 2 / span 2;">
        <div>
            <h2 class="chart-title">Average Price</h2>
            {{ timeframe_form('/product_price_history/' ~ product.get_id(), '#price-chart-cont') }}
        </div>
        <div style="height: 300px; width: 100%;" class="center-all" id="price-chart-cont">
            {% include "charts/price_line_chart.html" %}
        </div>
    </div>
    <div class="box-shadow-small chart-parent" style="grid-column: 2 / span 2;">
        <div>
            <h2 class="chart-title">Individual Inventory</h2>
            {{ timeframe_form('/product_inventory_history/' ~ product.get_id(), '#inventory-chart-cont') }}
        </div>
        <div style="height: 300px; width: 100%;" class="center-all" id="inventory-chart-cont">
            {% include "charts/inventory_line_chart.html" %}
        </div>
    </div>
</div>


{% endblock %}