{% extends "base.html" %}
{% from "macros.html" import inventory_item_bar, timeframe_form %}

{% block content %}
<link rel="stylesheet" href="styles/mobile_table.css" />
<link rel="stylesheet" href="styles/product_page.css" />



<div class="main-grid">
    <div class="left-nav">
        {% include "mobile_table.html" %}
    </div>

    <div class="column box-shadow-small">

        <div class="image-box">
            <label for="fileInput">
                {% if not filepath %}
                    <img src="icons/image-camera.svg" class="upload-trigger" />
                {% else %}
                    <img src="images/{{ filepath }}" />
                {% endif %}
            </label>
        </div>

        <div class="top-right-grid">
            <div class="product-action-name">{{ product.product_name }}</div>
            <div class="product-action-row">
                <button class="product-action-inventory"
                    hx-get="/product_update_inventory/{{ product.id }}"
                    hx-target="body"
                    hx-swap="beforeend"
                >Set Inventory</button>
                <button class="product-action-inventory"
                    hx-get="/product_add_inventory/{{ product.id }}"
                    hx-target="body"
                    hx-swap="beforeend"
                >Add Inventory</button>
                <div>
                    <button class="product-action-more">
                        <img src="icons/three_dot.svg">
                    </button>
                    <div class="dropdown-content">
                        <a hx-get="/product_update_all/{{ product.id }}" hx-target="body" hx-swap="beforeend">
                            Update Info
                        </a>
                        <a href="#" hx-delete="/product_delete/{{ product.id }}" hx-target="body"
                            hx-swap="outerHTML"
                            hx-confirm="Are you sure you want to delete {{  product.product_name }}?">
                            Delete Item
                        </a>
                    </div>
                </div>
            </div>

            <div>
                <div class="category-row">
                    {% if not product.category.image_path %}
                        <img alt="Category Icon" src="icons/map.svg" class="category-icon">
                    {% else %}
                        <img alt="Category Icon" src="{{ product.category.image_path.removeprefix('static/') }}" class="category-icon">
                    {% endif %}
                    <p class="category-name">{{ product.category.name }}</p>
                </div>
                <div class="inventory-content">
                    <span id="inventory-stock">{{ product.inventory }} / {{ product.ideal_stock }}</span>
                    <span id="inventory-bar">{{ inventory_item_bar(product.inventory, product.ideal_stock) }}</span>
                </div>
            </div>
            <div>
                <div class="info-row">
                    <span>Price Per Unit</span>
                    <div></div>
                    <span>${{ "%.2f" | format(product.price) }}</span>
                </div>
                <div class="info-row">
                    <span>Preferred Quantity</span>
                    <div></div>
                    <span>{{ product.ideal_stock }}</span>
                </div>
                <div class="info-row">
                    <span>Current Inventory Value</span>
                    <div></div>
                    <span>${{ "%.2f" | format(product.price * product.inventory) }}</span>
                </div>
            </div>
        </div>

        <form style="display: none;" action="/product_upload_image/{{ product.get_id() }}"
            hx-post="/product_upload_image/{{ product.get_id() }}" method="POST" enctype="multipart/form-data"
            hx-on::after-request="alert(event.detail.xhr.responseText)" hx-target="#image-message-placeholder"
            hx-swap="innerHTML">
            <input type="file" id="fileInput" name="file" accept="image/*" required style="display: none;">
        </form>
        <div id="image-message-placeholder"></div>
        <script>
            document.getElementById('fileInput').addEventListener('change', function (ev) {
                ev.preventDefault();
                htmx.trigger(this.form, 'submit');
            });
        </script>
    </div>

    <div class="box-shadow-small chart-parent" style="grid-column: 2;">
        {{ timeframe_form('/lifetime/' ~ product.get_id(), '#temp') }}
        <div style="height: 300px; width: 100%;" id="temp">
            {% include "charts/lifetime_split.html" %}
        </div>
    </div>
    <div class="box-shadow-small chart-parent" style="grid-column: 3;">

    </div>
</div>


{% endblock %}