{% include "nav.html" %}

<div class="urgency-banners">
    <form hx-get="/filter" hx-target=".container" hx-trigger="click" hx-include=".scaffolding" hx-swap="innerHTML">
        <input type="hidden" name="amount" value="1">
        <div class="shadow">
            <div class="red_rectangle"></div>
            <div class="banner">
                <p style="font-size: 1.5rem; font-weight: bold;">{{ levels[0] }}</p>
                <p id="stock-label">Low Stock Products</p>
            </div>
        </div>
    </form>
    <form hx-get="/filter" hx-target=".container" hx-trigger="click" hx-include=".scaffolding" hx-swap="innerHTML">
        <input type="hidden" name="amount" value="2">
        <div class="shadow">
            <div class="orange_rectangle"></div>
            <div class="banner">
                <p style="font-size: 1.5rem; font-weight: bold;">{{ levels[1] }}</p>
                <p id="stock-label">Medium Stock Products</p>
            </div>
        </div>
    </form>
    <div>
        <form hx-get="/filter" hx-target=".container" hx-trigger="click" hx-include=".scaffolding" hx-swap="innerHTML">
            <input type="hidden" name="amount" value="3">
            <div class="shadow">
                <div class="green_rectangle"></div>
                <div class="banner">
                    <p style="font-size: 1.5rem; font-weight: bold;">{{ levels[2] }}</p>
                    <p id="stock-label">Well Stocked Products</p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="scaffolding">
    <div class="filter-parent">
        <p id="filter-label">Filters:</p>
        <p id="filter">Categories:</p>
        <select class="filter-input" id="category_id" name="category_id"
                hx-trigger="change"
                hx-get="/filter"
                hx-target=".container"
                hx-swap="innerHTML"
                hx-include=".scaffolding">
            <option value="0"
                    {% if current_category is none or current_category == 0 %}
                    selected
                    {% endif %}>
                All
            </option>
            {% for category in categories %}
                <option value="{{ category.id }}"
                        {% if category.id == current_category %}
                        selected
                        {% endif %}>
                    {{ category.name }}

                </option>
            {% endfor %}
        </select>
        <br>
        {% block edit_category %}
        {% endblock %}
        <p id="filter">Price:</p>
        <select class="filter-input" id="price" name="price"
                hx-trigger="change"
                hx-get="/filter"
                hx-target=".container"
                hx-swap="innerHTML"
                hx-include=".scaffolding">
            <option value="0"
                    {% if current_price is none or current_price == 0 %}
                    selected
                    {% endif %}>
                All
            </option>
            <option value="1"
                    {% if current_price == '1' %}
                    selected
                    {% endif %}>
                Under $5
            </option>
            <option value="2"
                    {% if current_price == '2' %}
                    selected
                    {% endif %}>
                Under $10
            </option>
            <option value="3"
                    {% if current_price == '3' %}
                    selected
                    {% endif %}>
                Over $10
            </option>
        </select>
        <br>
        <p id="filter">Amount:</p>
        <select class="filter-input" id="ideal" name="ideal"
                hx-trigger="change"
                hx-get="/filter"
                hx-target=".container"
                hx-swap="innerHTML"
                hx-include=".scaffolding">
            <option value="0"
                    {% if ideal is none or ideal == 0 %}
                    selected
                    {% endif %}>
                All
            </option>
            <option value="1"
                    {% if ideal == '1' %}
                    selected
                    {% endif %}>
                Under 50 units
            </option>
            <option value="2"
                    {% if ideal == '2' %}
                    selected
                    {% endif %}>
                Between 50 and 100
            </option>
            <option value="3"
                    {% if ideal == '3' %}
                    selected
                    {% endif %}>
                Over 100 Units
            </option>
        </select>
        <br><br>
        <button
                class="filter-clear-button"
                hx-post="/filter"
                hx-target="body"
                hx-swap="outerHTML"
                hx-vals='{"category_id": "0", "price": "0", "amount": "0", "ideal": "0"}'>
            Clear Filters
        </button>
    </div>
    <div class="action-parent">
        <input class="form-control" type="search" name="q" value="{{ search }}"
               placeholder="SEARCH INVENTORY"
               hx-get="/filter"
               hx-trigger="input changed delay:300ms"
               hx-target=".container"
               hx-swap="innerHTML"
               hx-include=".scaffolding">
        {% if is_admin %}
            <button class="product-button" hx-get="/product_add" hx-target="body" hx-swap="beforeend">
                NEW PRODUCT
            </button>
            <button class="product-button" hx-get="/category_add" hx-target="body" hx-swap="beforeend">
                NEW CATEGORY
            </button>
        {% endif %}
        {% block add %}
        {% endblock %}
    </div>
    <main class="container">
        {% include "table.html" %}
    </main>
</div>


