{% from "macros.html" import inventory_item_bar %}

{% if product_list|length == 0 %}
    <span class="none-in-category">No products match your search terms</span>
{% elif product_list|length == 1 %}
    <span class="result-count">Showing 1 result</span>
{% else %}
    <span class="result-count">Showing {{ product_list|length }} results</span>
{% endif %}

{% for product in product_list %}
    {% if table_mode == 'link' %}
        <div class="mobile-product-row box-shadow-small" role="button" onclick="window.open('/{{ product.id }}', '_self')">
    {% else %}
        <div class="mobile-product-row box-shadow-small" role="button" hx-get="/product_update_inventory_mobile/{{ product.id }}" hx-target="body" hx-swap="beforeend">
    {% endif %}
        {% if not product.image_path %}
            <img class="mobile-product-row-image" src="icons/image-camera.svg" alt="{{ product.product_name }} Icon"/>
        {% else %}
            <img class="mobile-product-row-image" src="{{ product.image_path }}" alt="{{ product.product_name }} Icon"/>
        {% endif %}
        {% if product.been_over_one_week_since_updated() %}
            <span class="mobile-product-row-name short">{{ product.product_name }}</span><br>
            <img alt="Calendar Alert" class="mobile-inventory-calendar-alert" src="icons/calendar_alert.svg"/>
        {% else %}
            <span class="mobile-product-row-name">{{ product.product_name }}</span><br>
        {% endif %}
        <span class="mobile-product-last-updated">{{ product.human_last_updated() }} Ago &middot; {{ product.category.name }}</span>
        <div class="inventory-row-cont mobile-inventory-row-cont">
            {{ inventory_item_bar(product.inventory, product.ideal_stock) }}
            <span>{{ product.inventory }}/{{ product.ideal_stock }}</span>
        </div>
    </div>
{% endfor %}

{% if hidden_count %}
    <span class="hidden-count">Hiding {{ hidden_count }} results</span>
{% endif %}