{% from "macros.html" import inventory_item_bar %}

{% if product_list|length == 0 %}
    <span class="none-in-category">No products match your search terms</span>
{% elif product_list|length == 1 %}
    <span class="result-count">Showing 1 result</span>
{% else %}
    <span class="result-count">Showing {{ product_list|length }} results</span>
{% endif %}

{% for product in product_list %}
    <div class="mobile-product-row box-shadow-small">
        {% if not product.image_path %}
            <img src="icons/image-camera.svg" alt="{{ product.product_name }} Icon"/>
        {% else %}
            <img src="{{ product.image_path }}" alt="{{ product.product_name }} Icon"/>
        {% endif %}
        <div class="mobile-product-row-rhs">
            <span class="mobile-product-row-name">{{ product.product_name }}</span>
            <div class="inventory-row-cont">
                {{ inventory_item_bar(product.inventory, product.ideal_stock) }}
                <span>{{ product.inventory }}/{{ product.ideal_stock }}</span>
            </div>
            <a class="mobile-product-row-adjust" hx-get="/load_update_mobile/{{ product.id }}" hx-target="body" hx-swap="beforeend">Update Stock</a>
        </div>
    </div>
{% endfor %}