
<link rel="stylesheet" href="styles/settings.css">
{% extends "base.html" %}
{% block content %}


<header>
    <div class="admin-back">
        <a style="position: relative;" href="/">
            <img style="position: relative; top: 6px;" src="icons/arrow_left.svg" alt="Left Arrow"/>Back to Home
        </a></div>
</header>
<body>
    <div style="margin-left: 10px">
        <div class="admin-content">
            <h1 class="admin-label">Admin Settings</h1>
            <h2 class="email-label">Admin Email</h2>
            <form method="post" action="/settings" hx-confirm="Update the admin email?">
                <input class="email-input" name="email" type="text" , placeholder={{ user.email }}>
                <button class="admin-button" type="submit">UPDATE</button>
            </form>
        </div>
        <br>
        <div class="accounts-content">
            <h2 class="accounts-label">Accounts</h2>
            {% for account in accounts %}
            <form hx-get="/update_password/{{ account.username }}"
                hx-target="body" hx-swap="beforeend" style="text-align: center;">
                <h3 class="username-label">{{ account.username }}</h3>
                <button class="accounts-button" type="submit">UPDATE PASSWORD</button>
            </form>
            {% endfor %}
        </div>
    </div>
    <br>
</body>
{% endblock %}