{% extends "base.html" %}
{% block content %}
<header>
    <a href="/">Home</a>
</header>
<body>
    <div style="margin-left: 10px">
        <h1>Admin Settings</h1>
        <h2>Admin Email</h2>
        <form method="post" action="/settings" hx-confirm="Update the admin email?">
            <input name="email" type="text" , placeholder={{ user.email }}>
            <button type="submit">UPDATE</button>
        </form>
        <br>
        <h2>Accounts</h2>
        {% for account in accounts %}
        <form hx-get="/update_password/{{ account.username }}"
            hx-target="body" hx-swap="beforeend"
            style="display: flex; align-items: center; gap: 10px;">
            <h3>{{ account.username }}</h3>
            <button type="submit">UPDATE PASSWORD</button>
        </form>
        {% endfor %}
    </div>
</body>
{% endblock %}