.mobile-product-row {
    margin: 20px;
    width: calc(100% - 40px);
    height: 90px;
    background-color: white;
    position: relative;
}
.mobile-product-row:hover {
    cursor: pointer;
    background-color: var(--hrdc-theme-light-grey);
}
.mobile-product-row > * {
    position: absolute;
}
.mobile-product-row-image {
    height: 40px;
    width: 40px;
    padding: 5px;
    top: 10px;
    left: 10px;
}
.mobile-product-row-name {
    color: black;
    font-family: 'Gotham Bold', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    top: 12px;
    left: 70px;
    white-space: nowrap;
    max-width: calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.mobile-product-row-name.short {
    max-width: calc(100% - 117px);
}
.mobile-inventory-calendar-alert {
    height: 27px;
    width: 27px;
    top: 10px;
    right: 10px;
}
.mobile-product-last-updated {
    color: var(--hrdc-theme-dark-teal);
    font-family: 'Gotham Book', sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
    left: 70px;
    top: 41px;
}
.mobile-inventory-row-cont {
    width: calc(100% - 20px);
    bottom: 10px;
    left: 10px;
}
.none-in-category, .result-count, .hiddent-count {
    margin: 0 20px;
    margin-top: 0;
    font-family: 'Gotham Book', sans-serif;
    text-align: center;
    display: inline-block;
    width: calc(100% - 40px);
}
.none-in-category {
    color: var(--hrdc-theme-alert);
}
.result-count, .hidden-count {
    color: var(--hrdc-theme-medium-grey);
    font-size: 0.8em;
}

.inventory-row-cont {
    height: 20px;
    display: flex;
    align-items: center;
}
.inventory-row-cont > span {
    display: inline-block;
    flex-shrink: 0;
    color: var(--hrdc-theme-dark-teal);
    font-family: 'Gotham Book', sans-serif;
    font-size: 0.8em;
}

