.content_container{
    padding-left: 5%;
    padding-right: 5%;
}
.upper_container{
    display: flex;


}

/* Styling for the Inventory History */

.column {

    border: 1px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    margin-top: 1%;
}

.row1
{
    display: flex;
    flex-flow: column;
}

.row2
{
    display: flex;
    flex-flow: column;
}

.row3
{
    display: flex;
    flex-flow: column;
    margin-top: 5%;
    margin-right: 10%;
    gap: 10%;
}

.product_content
{
    display: flex;
    flex-flow: column;
    line-height: 0.3;
    margin-left: 3%;
}

.inventory_content
{
    display: flex;
    flex-flow: column;
    margin-left: 3%;
}

.adjust_content
{
    display: flex;
    flex-flow: row;
}

.info_container
{
    margin-left: auto;
}

h1#inventory_stock
{
    text-align: left;
    text-indent: 1%;
}

h1#product_name
{
    text-align: left;
    color: var(--hrdc-theme-teal);
    font-size: 40px;
    font-family: 'Gotham Bold';
    text-transform: uppercase;
}

h2#category_name
{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
}

h2#category_name p
{
    color: var(--hrdc-theme-teal);
    font-size: 18px;
    font-family: 'Gotham Book';
    position: relative;
    top: 10px;
    text-indent: 10%;
}

h2#category_name img
{
    width: 7.5%;
}

table#info_table
{
    line-height: 2;
}

span#inventory_bar
{
    width: 50%;
}

.dropdown-btn
{
    margin-top: 25%;
}

.back
{
    margin-top: 3%;
    margin-left: 5%;
}

.back a
{
    color: var(--hrdc-theme-teal);
    font-size: 16px;
    font-family: 'Gotham Bold';
    position: relative;
    bottom: 5px;
    text-indent: 5px;
    text-decoration: none;
}

.back a:hover
{
    color: var(--hrdc-theme-green-yellow);
    font-size: 16px;
    font-family: 'Gotham Bold';
    position: relative;
    bottom: 5px;
    text-indent: 5px;
    text-decoration: none;
}

.back img
{
    width: 1.5%
}

.image-box {
            width: 249px;
            height: 249px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F5F5F5;
            clear: left;
            margin-left: 5%;
            margin-top: 5%;
}

.image-box:hover
{
    cursor: pointer;
}

.upload-trigger:hover
{
    cursor: pointer;
}

.image-box img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover
}

.info_container table {
    border-collapse: collapse;
    width: auto;
}

.info_container tr{
    display: flex;

}
.dash-column{
    flex: 1;
    text-align: center;
    min-width: 100px;

}
.value-column{
    text-align: right;
}
.line{
    opacity: 0.2;
    width: 100%;
    border-top: 1px dotted black;
}



/*The default Modal from htmx docs */
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;

	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

/* The design for the add modal. */

.modal-form-content
{
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-left: 5%;
}

.add-label
{
    color: var(--hrdc-theme-teal);
    font-size: 24px;
    font-family: 'Gotham Bold';
	text-align: center;
}

label
{
	color: var(--hrdc-theme-teal);
    font-size: 12px;
    font-family: 'Gotham Book';
    font-weight: bold;
	text-align: left;
}

input#product_name, input#inventory, input#price, input#unit_type, input#ideal_stock
{
	color: #ffffff;
    border-color: var(--hrdc-theme-teal);
    border-radius: 5px;
    font-family: 'Gotham Book';
    text-indent: 5px;
    color: var(--hrdc-theme-teal);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14) inset;
	display: grid;
    padding: 0.7em 0.7em;
}

input#donation
{
	color: #f5f5f5;
    border-color: var(--hrdc-theme-teal);
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14) inset;
    transform: scale(1.5);
    position: relative;
}

.km
{
    margin-top: 20%
}

input#donation:hover
{
    cursor: pointer;
}

.add-category-id
{
	color: #ffffff;
    border-color: var(--hrdc-theme-teal);
    border-radius: 5px;
    font-family: 'Gotham Book';
    color: var(--hrdc-theme-teal);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14) inset;
	display: grid;
    padding: 1em 3.3em;
}

button#add-product-label
{
	background-color: var(--hrdc-theme-teal);
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Gotham Book';
    padding: 1rem 1rem;
}

button.btn-danger
{
    background-color: #ffffff;
    border-style: none;
}

.close-icon
{
    width: 2rem;
}

.close-icon:active
{
    filter: brightness(0) invert(1);
}

button#add-product-label:hover
{
	background-color: var(--hrdc-theme-green-yellow);
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Gotham Book';
    display: grid;
    padding: 1rem 1rem;
}

.modal-buttons
{
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
}

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
}



.dropdown-btn {
    background: transparent;
    border: none;
    padding: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

