#chart-container {
    width: 300px;
    height: 300px;
    margin: auto;
}


#scatter-chart-container {
    width: 600px;
    height: 600px;
    margin: auto;
}
.reports {
    border-bottom: 3px solid var(--hrdc-theme-green-yellow);
}

.reports:hover {
    border-bottom: 3px solid #ffffff;
}