#chart-container {
    width: 300px;
    height: 300px;
    margin: auto;
}


#scatter-chart-container {
    width: 60%;
    height: 30%;
    margin: auto;
}

p#report-label
{
    color: var(--hrdc-theme-teal);
    font-family: 'Gotham Bold';
    margin-right: 1%;
}